.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkBackground {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 4px;
  width: 100%;
  max-width: 950px;
  /* Increased to ensure cards fit nicely */
  min-height: 80%;
  max-height: 80%;
  position: relative;
}

.smallerContainer {
  max-width: 400px;
  position: absolute;
  left: 120px;
  justify-content: center;
  align-items: center;
}

.smallerContainerv2{
  max-width: 400px;
  position: absolute;
  left: 120px;

}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.modalOverlay.pointerEventsNone {
  pointer-events: none;
}

.modalContent.pointerEventsAll {
  pointer-events: all;
}