@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}


@layer components {
    .sidebar-icon {
        @apply my-1 mx-3 p-1 rounded-lg flex flex-row items-center select-none hover:cursor-pointer hover:bg-black hover:bg-opacity-20 transition-all;
    }
}