/* Override default mapbox styles */
.mapboxglPopup {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.mapboxglPopupCloseButton {
  display: none !important;
}

.mapboxglPopupContent {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* Custom popup styles */
.popupContent {
  background: white;
  margin: -20px;
  border-radius: 8px;
  padding: 15px;
  color: #333;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popupContentStrong {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.popupContentDiv {
  margin-bottom: 5px;
  font-size: 14px;
}

.popupContentAddress,
.popupContentStatus {
  font-style: italic;
}

.popupContentRating {
  color: rgb(17, 87, 64);
  font-weight: 700;

}

.popupContentTotalRatings {
  color: #999;
}